/* black-han-sans-regular - latin */
@font-face {
    font-display: block; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Black Han Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/black-han-sans-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - latin */
@font-face {
    font-display: block;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/open-sans-v40-latin-regular.woff2") format("woff2");
}

/* ubuntu-mono-regular - latin */
@font-face {
    font-display: block;
    font-family: "Ubuntu Mono";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/ubuntu-mono-v17-latin-regular.woff2") format("woff2");
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.animate-blink {
    animation: blink 1s infinite;
}
