---
import BlogPost from '@/components/BlogPost.astro'
import { getLangFromUrl } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)

// Get all posts from the posts directory and subdirectories
let posts
if (lang === 'es') posts = await Astro.glob('@/pages/es/blog/**.md')
else posts = await Astro.glob('@/pages/blog/**.md')

posts = posts.sort(
    (a, b) =>
        new Date(b.frontmatter.date).getTime() -
        new Date(a.frontmatter.date).getTime()
)
---

<div slot="content" class="px-8 w-full max-w-[80ch]">
    <ul class="grid gap-6 w-full">
        {
            posts.map((post) => (
                <BlogPost url={post.url} frontmatter={post.frontmatter} />
            ))
        }
    </ul>
</div>
