---
import Layout from '../layouts/Layout.astro';

export const meta = {
    title: 'blog',
    description: 'Blog posts and articles by Fernando Haro.',
    image: 'https://harogato.com/logo.png',
    url: 'https://harogato.com/blog/',
    type: 'website',
    keywords: 'fernando haro, harogato, software engineering, web development, programming, design',
};
---

<Layout title="blog">
    <p class="font-black-han-sans text-2xl text-text">Coming soon... </p>
</Layout>