---
import Layout from '../layouts/Layout.astro';
import CopyToClipboard from '../components/copyToClipboard';

export const meta = {
    title: 'harogato',
    description: 'Personal website of Fernando Haro, a software engineering student that is passionate about programming and design. My main focus is in Full Stack Web Development.',
    image: 'https://harogato.com/logo.png',
    url: 'https://harogato.com',
    type: 'website',
    keywords: 'fernando haro, harogato, software engineering, web development, programming, design',
};
---

<Layout title="harogato">
    <!-- Developer -->
    <div class="flex flex-col w-full lg:flex-row lg:flex-wrap lg:justify-between lg:max-w-[1200px] lg:gap-y-24 lg:pt-12">
        <section class="w-full px-8 flex flex-col lg:max-w-[44ch] order-1">
            <span class="text-primary font-ubuntu-mono text-2xl">&lt;developer&gt;</span>
    
            <h1 class="pt-4 text-6xl font-black-han-sans text-text leading-[1.2em] max-w-[8ch]">Fernando Haro</h1>
    
            <span class="text-primary font-ubuntu-mono text-2xl translate-y-[210px] text-end lg:translate-y-0 lg:text-end lg:w-[26ch]">&lt;/developer&gt;</span>
        </section>
    
        <!-- Image -->
        <div class="flex justify-center h-[240px] order-2 lg:w-[400px] xl:w-[250px]">
            <img class="-z-20 w-[250px] absolute -translate-y-[4.3rem] lg:w-[410px] lg:top-52" src="logo.png" alt="logo">
        </div>
    
        <!-- Links -->
        <div class="flex w-full order-3 justify-center mt-12 sm:w-auto xl:w-full items-center">
            <div class="grid grid-cols gap-5 px-6 max-w-[410px] w-full sm:w-auto">
                <div class="flex w-full justify-between gap-2">
                    <a href="https://github.com/Scalaptia" class="flex bg-text text-white rounded-full px-3 py-2 items-center justify-center gap-3 transition-opacity duration-150 hover:opacity-95" target="blank">
                        <img loading="eager" src="github.svg" alt="github logo" draggable="false">
                        <span class="font-black-han-sans text-xl pt-[1px]">GitHub</span>
                        <img loading="eager" src="arrow-right.svg" alt="arrow right" draggable="false">
                    </a>
                
                    <a href="https://www.linkedin.com/in/fernando-haro-calvo-6137ab287/" class="flex bg-text text-white rounded-full px-3 py-2 items-center justify-center gap-3 transition-opacity duration-150 hover:opacity-95" target="blank">
                        <img loading="eager" class="pointer-events-none" src="linkedin.svg" alt="linkedin logo" draggable="false">
                        <span class="font-black-han-sans text-xl pt-[1px]">LinkedIn</span>
                        <img loading="eager" class="pointer-events-none" src="arrow-right.svg" alt="arrow right" draggable="false">
                    </a>
                </div>
        
                <div class="flex bg-white text-text rounded-full px-5 py-2 gap-3 justify-between">
                    <span class="font-open-sans font-semibold pt-[1px]">fernando.haro.c@gmail.com</span>
        
                    <div class="flex gap-5">
                        <a href="mailto:fernando.haro.c@gmail.com" class="flex transition-opacity duration-150 hover:opacity-80">
                            <img class="pointer-events-none" src="send.svg" alt="send" draggable="false">
                        </a>
        
                        <CopyToClipboard client:visible text="fernando.haro.c@gmail.com" />
                    </div>
                </div>
            </div>

        </div>
    
        <!-- About -->
        <section class="w-full my-10 px-8 flex flex-col text-center items-center lg:max-w-[44ch] order-4 lg:order-2 lg:my-0">
            <span class="text-primary text-start font-ubuntu-mono text-2xl self-start">&lt;about&gt;</span>
    
            <p class="pt-4 text-xl font-open-sans text-text leading-[1.2em] max-w-[30ch]"><span class="font-semibold text-[#57AAA7]">Software engineering student</span> that is passionate about programming and design. &NewLine;
            </p>
            <p class="pt-4 pb-3 text-xl font-open-sans text-text leading-[1.2em] max-w-[30ch]">
                My main focus is in <span class="font-semibold text-[#57AAA7]">Full Stack Web Development.</span>
            </p>
    
            <span class="text-primary font-ubuntu-mono text-2xl text-end lg:text-end lg:w-[28ch] self-end">&lt;/about&gt;</span>
        </section>
    </div>
</Layout>