---
import Layout from '../layouts/Layout.astro';
import Age from '../components/Age.astro';
---

<Layout title="harogato.dev"></Layout>
	<div class="flex flex-col gap-8">
		<p class="text-white max-w-prose text-xl w-full text-center">
			¡Hello! My name is Fernando Haro, I'm a <Age birthDate="2004-01-26" decimals="9" /> year-old developer that is passionate about programming and design.
			My main interests are in <span class="text-blue-400">IoT</span>, <span class="text-cyan-300">Cloud Computing</span> and <span class="text-red-300">Web Development</span>,
			but I often mess around in other related areas. 
		</p>
	
		<p class="text-white max-w-prose text-xl w-full text-center">
			I'm currently studying Software Engineering and Emerging Tecnologies at the <a href="https://www.uabc.mx/" class="text-green-400">Autonomous University of Baja California</a>.
		</p
	</div>
</Layout>	


<style>
</style>
