---
type Props = {
    birthDate: string;
    decimals: string;
}

const {birthDate, decimals} = Astro.props;
---

<span id="age" class="text-orange-300" data-birthdate={birthDate} data-decimals={decimals}></span>

<script>
    const updateAge = (birthDate: string, decimals = '0') => {
        const bd = new Date(birthDate);
        const dec = parseInt(decimals);

        const now = new Date();
        const age = (now.getTime() - bd.getTime()) / (365.25 * 24 * 60 * 60 * 1000); // calculate age in years considering leap years
        document.getElementById("age")!.textContent = age.toFixed(dec);

        requestAnimationFrame(() => updateAge(birthDate, decimals));
    };

    const birthDate = document.getElementById('age')!.getAttribute('data-birthdate')!;
    const decimals = document.getElementById('age')!.getAttribute('data-decimals')!;
    
    updateAge(birthDate, decimals);
</script>


