---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
import LanguagePicker from "./LanguagePicker.astro";

export interface HeaderProps {
  title?: string;
  hideLanguagePicker?: boolean;
}
const { title, hideLanguagePicker } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const currentPath = Astro.url.pathname;
---

<header class="relative w-full">
  <!-- Language picker - unified for mobile and desktop -->
  {
    !hideLanguagePicker && (
      <div class="flex justify-end px-4 pt-2 md:px-8 md:pt-4 md:absolute md:top-0 md:right-0 md:z-10">
        <LanguagePicker />
      </div>
    )
  }

  <div class="flex items-center h-20 mt-2 mb-10 justify-center w-full relative">
    <a
      href={currentPath}
      class="flex flex-col justify-center text-center font-ubuntu-mono"
    >
      <h1 class="text-4xl font-bold text-primary">
        {"{ " + t(title)[0] + " }"}
      </h1>
      <h2 class="text-xl text-primary">{t(title)}</h2>
    </a>
  </div>
</header>
