---
import type { LucideIcon } from 'lucide-react'

type Props = {
    icon: LucideIcon
    link: string
    text: string
}

const { icon: Icon, link, text }: Props = Astro.props
---

<a
    href={link}
    class="w-full flex bg-text text-white px-6 py-2 items-center justify-center gap-3 border-2 border-white shadow-[2px_2px_0px_0px_rgba(65,44,71,1)]"
    target="blank"
    rel="noopener noreferrer"
>
    <Icon className="min-w-6 min-h-6" />
    <span class="font-black-han-sans text-xl pt-[2px]">{text}</span>
</a>
