---
interface Props {
    title: string;
    description: string;
    link: string;
}


const { title, description, link } = Astro.props;

---

<a href={link} target="blank" class=" p-6 rounded-full border-2 border-[#ACC5C4]">
    <h4 class="text-lg font-semibold">{title}</h4>
    <p class="text-md text-gray-600">{description}</p>
</a>