---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="flex items-center h-20 mt-2 mb-10 justify-evenly w-full md:justify-center md:gap-28">
    <!-- Left side header link -->
    <a href="/" class="text-primary font-ubuntu-mono text-2xl font-bold">&lt;home&gt;</a>
    

    <div class="flex flex-col justify-center text-center font-ubuntu-mono">
        <h1 class="text-4xl font-bold text-primary">{'{ ' + title[0] + ' }'}</h1>
        <h2 class="text-xl text-primary">{title}</h2>
    </div>

    <!-- Right side header links -->
    <a href="/" class="text-primary font-ubuntu-mono text-2xl font-bold">&lt;blog&gt;</a>


</div>