---
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/fonts.css" />
		<slot name="tags" />

		<link rel="icon" href="/logo.ico" />
		<title>{title}</title>
	</head>

	<body class="min-h-screen flex flex-col items-center bg-background bg-noise bg-repeat" ><Header title={title.replace(" | harogato", "")} />
		<slot name="content" />
	</body>
</html>