---
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta slot="tags" name="description" content="Fernando Haro Calvo\'s personal website. Software engineering student. Full Stack Web Developer. Check out my projects and get in touch with me!" />
		<link rel="preload" href="/fonts.css" as="style" />
		<link rel="stylesheet" href="/fonts.css">
		<slot name="tags" />

		<!-- <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->
        <link rel="icon" href="/logo.webp" type="image/svg+xml">

		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-DDC5EB7Z2M"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-DDC5EB7Z2M');
		</script>

		<title>Fernando Haro</title>
	</head>

	<body class="min-h-screen flex flex-col items-center bg-background bg-noise bg-repeat" ><Header title={title.replace(" | Fernando Haro", "")} />
		<slot name="content" />
	</body>
</html>