---
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preload" href="/fonts.css" as="style" />
		<link rel="stylesheet" href="/fonts.css">
		<slot name="tags" />

		<link rel="icon" href="/logo.ico" />

		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-DDC5EB7Z2M"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-DDC5EB7Z2M');
		</script>

		<title>{title}</title>
	</head>

	<body class="min-h-screen flex flex-col items-center bg-background bg-noise bg-repeat" ><Header title={title.replace(" | harogato", "")} />
		<slot name="content" />
	</body>
</html>