---
import Header from './Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>

	<body class="min-h-screen flex flex-col items-center bg-background">
		<!-- background noise -->
		<img class="absolute inset-0 w-full h-full object-cover select-none -z-10 pointer-events-none" src="/noise.svg" draggable="false" alt="noise"></img>
		<Header title={title} />
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
</style>
