---
import Header from './Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title[0].toUpperCase() + title.slice(1) }</title>
	</head>
	
	<body class="min-h-screen flex flex-col items-center bg-gradient-to-t text-[#2E2B59] from-[#FCF4DE] to-[#FCF4E9]">
		<Header title={title} />	
		
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
</style>
